html, body {
    margin: 0;
    height: 100%;
}

.barre {
    fill: steelblue;
}
        
.barre:hover {
    fill: orange;
}

.texte {
    fill: white;
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
}